.series {
    float: left;
    margin-left: 10px;
}

.demo {
    padding-top: 10px;
}

.image {
    height: 200px;
}

img {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.kind-position {
    margin: 10px;
    height: 20px;
    color: #323232;
}
.kind-action {
    margin: 10px;
    height: 30px;

    font-weight: bold;
    font-size: 30px;
}

.kind-position img {
    opacity: 0.8;
}

.kind-action .name {
    display: inline;
    position: relative;
    left: 10px;
}
.kind-position .name {
    display: inline;
    position: relative;
    left: 25px;
}
