<div class="scheme-generator">
    <h2 pageScroll href="#column-0">Scheme<sub>&#8623;</sub></h2>

    <div class="scheme">
        <div class="series row">
            <div *ngFor="let column of schemeByColumns; let i = index; let
                last=last" class="column col-md-4" id="column-{{i}}">
                <div *ngFor="let elem of column">
                    <div class="kind-{{elem.kind}}" (click)="updateState(elem)">
                        <img src="public/image/dancing_couple_{{elem.kind}}.jpg">
                        <div class="name">{{ t(elem.name) }}</div>
                    </div>
                </div>
                <div *ngIf="!last" class="arrow">
                    <a pageScroll href="#column-{{i+1}}">&#8623;</a>
                </div>
            </div>
        </div>

        <div class="demo">
            <div class="position-image">
                <div class="name">
                    Position: {{ t(state.position) }}
                </div>
                <div class="image">
                    <img src="public/image/position/{{state.position}}.png">
                </div>
            </div>
            <div class="action-video">
                <div class="name">
                    Action: {{ t(state.action) }}
                </div>
                <label>
                    Video speed:
                    <input type="range" step="0.1" min="0.5" max="1.5" value="0.5" id="rateSlider" (change)="changeVideoRate()">
                </label>
                <div class="video" id="video" >
                    <video width="400" src="public/video/action/{{state.video}}.mp4" controls>
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
